html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFEC3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: black;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: blue;
}

/* Burger-Menü Button */
.burger-menu {
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 100;
}

.burger-menu div {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 8px 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

/* Versteckt-Zustand: weich ausgeblendet */
.burger-menu.hidden {
  opacity: 0;
  visibility: hidden;       /* verhindert Klicks, erst nach Fade */
  pointer-events: none;
}

/* Menü Styling */
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #FFFEC3;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Menü nach oben verschieben */
    padding-top: 10vh; /* Abstand von oben */
    transition: left 0.3s ease-in-out;
    z-index: 9;
}


.menu a {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    margin: 20px;
    z-index: 10;
}

.menu.active {
    left: 0; /* Menü fährt von links rein */
}


#WerdeJetztAktiv {
    position:absolute;
    color:black;
    margin-top: 8vh;
    font-size: 2.6vh;
    opacity: 0;
    line-height: 10vh;
    z-index: 5;
    text-align: center;
}

#ÜberallKriesen {
    position:absolute;
    color:black;
    margin-top: 5vh;
    font-size: 4vh;
    opacity: 1;
    line-height: 5.5rem;
    z-index: 1;
    text-align: center;
}

/* Stop-Motion Animation */
#animation-container {
    width: 100%;
    align-items: flex-end;
    z-index: 3;
}

#animation-container img {
    bottom: 8vh;
    width: 100%;
    position: absolute;
    height: auto;
    z-index: 3;
}

#scrollDown {
    position: absolute;
    bottom: 0;
}

#stopMotion {
    will-change: opacity, transform;
    transition: opacity 0.15s linear;
    transform: translateZ(0); /* iOS Fix */
}

#WerdeJetztAktiv {
    will-change: opacity;
    transition: opacity 0.15s linear;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
.panel {
    width: 100%;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
