html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFEC3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: black;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    color: black;
    text-decoration: underline;
}

/* Burger-Menü Button */
.burger-menu {
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 100;
}

.burger-menu div {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 8px 0;

}

.burger-menu {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

/* Versteckt-Zustand: weich ausgeblendet */
.burger-menu.hidden {
    opacity: 0;
    visibility: hidden;
    /* verhindert Klicks, erst nach Fade */
    pointer-events: none;
}


/* Menü Styling */
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #FFFEC3;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Menü nach oben verschieben */
    padding-top: 10vh;
    /* Abstand von oben */
    transition: left 0.3s ease-in-out;
    z-index: 9;
}


.menu a {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    margin: 20px;
    z-index: 10;
}

.menu.active {
    left: 0;
    /* Menü fährt von links rein */
}

#language-switcher  {
    z-index: 100;
    top: 30px;
    right: 30px;
    position: absolute;
}

#language-switcher button {
    all: unset;
    font-size: 37px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    line-height: 1;
}

#language-switcher button.focused {
    text-decoration: underline;
}

.lang {
    display: none;
}

.lang.active,
.lang-de,
.lang-en {
    display: inline;
}


#WerdeJetztAktiv {
    text-decoration: none;
    margin-top: 15vh;
    font-size: 1.5em;
    opacity: 0;
    line-height: 4.5rem;
    z-index: 1;
    text-align: center;
}


#scrollDown {
    position: relative;
    bottom: 0;
}

#header {
    margin-top: 17vh;
    font-size: 1.7rem;
    width: 90%;
}

#header h1 {
    margin-top: 20px;
    margin: 0px;
}

#nicht {
    width: 80%;
    position: absolute;
    font-size: 6rem;
    text-align: right;
    top:100px;
    color: #D7524D;
}

#header2 {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 30px;
}

#orgaHeader {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
}


#headline1 {
    margin-bottom: 0;
    font-size: 5rem;
    line-height: 1;
}

#headline2 {
    line-height: 1;
    font-size: 5rem;
    text-align: right;
    margin: 0;
}

#waehlenInfo {
    font-size: 1.1rem;
    width: 90%;
    margin-top: 5vh;
}

#wahl {
    width: 100%;
    height: 50%;
}

#wahl img {
    display: block;
    margin: auto;
    max-width: 90%;
    height: auto;
}

h3 {
    margin: 0px;
    font-size: 45px;
    color: black;
    font-family: Oswald;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    font-size: 35px;
    color: black;
    font-family: Oswald;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: right;
}

h5 {
    font-size: 25px;
    font-family: Oswald;
    margin-block-start: 20px;
    margin-block-end: 0;
}

h6 {
    margin: 0px;
    font-size: 40px;
    color: black;
    font-family: Oswald;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-size: 15px;
    font-family: Oswald;
}


#kalender {
    background-color: #D2B48C;
    /* Khaki Braun für Veranstaltungskalender */
}

#panel_kalender {
    background-color: #EFE0C8;
}

#downloads {
    background-color: #8EC8B3;
}

#panel_downloads {
    background-color: #BFEADA;
}


#uber {
    background-color: #FFD050;
}

#panel_uber {
    background-color: #FFEAB1;
}

#warum {
    background-color: #8EC8B3;
}

#panel_warum {
    background-color: #BFEADA;
}

#accordion-root {
    margin-bottom: 15px;
}

.accordion {
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    height: 125px;
    margin-top: 15px;
    background-color: brown;
    border-radius: 25px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel {
    width: 90%;
    margin-left: 5%;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}